body {
  background: solid;
  background-color: #efefef;
}

#navbarspace {
  height: 75px;
}

.square {
  height: calc(300px + 7vw);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: solid 2px transparent;
  transition: border 0.3s ease-in-out;
}

.square:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
  border-color: #333;
  border-top-width: 0;
  border-left-width: 0;
  animation: trace-border 0.5s ease-in-out forwards;
  border-radius: 5px;
}

.square:hover h1 {
  text-decoration: none;
}

.square:active {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  border-color: #333;
  border-top-width: 0;
  border-left-width: 0;
  animation: trace-border 0.5s ease-in-out forwards;
  border-radius: 5px;
}

@keyframes trace-border {
  from {
    border: 0 solid transparent;
  }

  to {
    border: 2px solid white;
  }
}
