body {
  background: solid;
  background-color: #000;
}



.square {
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: solid 2px white;
  transition: border 0.3s ease-in-out;
}

.square:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
  border-color: #333;
  border-top-width: 0;
  border-left-width: 0;
  animation: trace-border 0.5s ease-in-out forwards;
  border-radius: 5px;
}

.square:hover h1 {
  text-decoration: none;
}

.square:active {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  border-color: #333;
  border-top-width: 0;
  border-left-width: 0;
  animation: trace-border 0.5s ease-in-out forwards;
  border-radius: 5px;
}

@keyframes trace-border {
  from {
    border: 0 solid transparent;
  }

  to {
    border: 2px solid white;
  }
}


@media (max-width: 767px) {
  /* Your styles for tablet and mobile devices go here */
  .square {
    height: auto;
  }
}

.banner {
    border: solid 2px white;
}

.box {
  height: 80vh;
  border: solid 2px white;
  transition: border 0.3s ease-in-out;
}

.box:hover {

  border-color: #333;
  border-top-width: 0;
  border-left-width: 0;
  animation: trace-border 0.5s ease-in-out forwards;
  border-radius: 5px;
}

.box:hover h1 {
  text-decoration: none;
}

.box:active {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  border-color: #333;
  border-top-width: 0;
  border-left-width: 0;
  animation: trace-border 0.5s ease-in-out forwards;
  border-radius: 5px;
}

@keyframes trace-border {
  from {
    border: 0 solid transparent;
  }

  to {
    border: 2px solid white;
  }
}

#servicesBox {
  background-color: #4c86a8;
}

#aboutBox {
  background-color: #256D1B;
}

#directionsBox {
  background-color: #7f5a83;
}

#contactBox {
    background-color: #db504a;
}

.banner {
    border: solid 2px white;
}

.bg-cover {
  border: solid 2px white;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url(../media/hero.png);
  background-size: cover;
  background-attachment: fixed, scroll;
  height: calc(600px + 10vw);
}


header {
  position: relative;
  height: calc(500px + 35vw);
  max-height: 900px;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  background-image: url("../media/fallback.jpg");
  background-position: left;
  background-color: #1f271b;
  padding-bottom: 25px;
  border: solid 2px white;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 1;
}

/* Media Query for devices with coarse pointers and no hover functionality */
/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
@media (pointer: coarse) and (hover: none) {
  header {
    background: url('../media/fallback.jpg') black no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}

#headerBox {
  background-color: rgba(6, 6, 6, 0.4);
  border: solid 2px white;
}

.line {
  background: solid;
  background-color: #ffffff;
  height: 1px;
  width: 200px;
}
